// 1em == 16px (font-size: 16px set in base/_reset.scss)

$size0: 0.1em;
$size1: 0.25em;
$size2: 0.5em;
$size3: 0.75em;
$size4: 1em;
$size5: 1.25em;
$size6: 1.5em;
$size7: 1.75em;
$size8: 2em;
$size9: 2.25em;
$size10: 2.5em;
$size11: 2.75em;
$size12: 3em;
$size13: 3.25em;
$size14: 3.5em;
$size15: 3.75em;
$size16: 4em;
$size17: 4.25em;
$size18: 4.5em;
$size19: 4.75em;
$size20: 3em;
